Pandas stands for Panel Data and is the core library for data manipulation and 
data analysis.
Single-dimensional == Series Object
Multi-dimensional == Data-Frame

It consists of single and multi-dimensional data for data manipulation.
PANDAS.

In [4]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5])
# Single Dimension Object = Series.
print(s1)
print(type(s1))

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
s2 = pd.Series([10,20,30,40,50])

print(s2)
print(type(s2))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

In [8]:
# Changing indexes of the series.
# Using the attribute index.
s3 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s3

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [9]:
# Series object from a dictionary 
s4 = pd.Series({'a' : 100000 , 'b' :200000 , 'c':300000})
s4

a    100000
b    200000
c     30000
dtype: int64

In [10]:
# Changing the index of series object from a dictionary , more like changing the order of the indices of the  dict-series.
s5 = pd.Series({'a':10 , 'b':20, 'c':30} , index=['b','c','d','a'])
s5

b    20.0
c    30.0
d     NaN
a    10.0
dtype: float64

In [13]:
#Extracting individual elements.
s5 = pd.Series([1,2,3,4,5,6,7])
# Extracting a single elment
print(s1[3])
# Extracting the elements from back.
print(s1[-3:])
# Extracting a seqeunce of elements.
print(s1[:4]) #4 is exclusive over here.

# Adding a scalar value to Series Elements
print(s1 + 5)

4
2    3
3    4
4    5
dtype: int64
0    1
1    2
2    3
3    4
dtype: int64

In [14]:
s1 = pd.Series([1,2,3,4,5,6,7,8,9])
s2 = pd.Series([10,20,30,40,50,60,70,80,90])
# Adding two Series Objects
s1 + s2

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

Moving on the part of the DATAFRAME.

In [17]:
# This helps us to create a relation table with rows and columns.
df1 = pd.DataFrame({"Name" : ['Bob','Sam','Anne'] , "Marks":[76,95,92]})
df1

   Name  Marks
0   Bob     76
1   Sam     95
2  Anne     92

In [19]:
# DataFrame in-built functions.
# head() == to show the first five rows of the dataframe use this.
df2 = pd.read_csv('iris.csv')
# Showing the first five rows of the dataset.
print(df2.head())
# Showing the last five rows of the dataset.
print(df2.tail())

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [24]:
df2 = pd.read_csv('iris.csv')

print(df2.shape)
print("\n")
print(df2.describe)

(150, 5)


<bound method NDFrame.describe of      Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [26]:
# Extracting individual rows and columns with respect to their indexes.
df2 = pd.read_csv('iris.csv')
# .ilocmethod ==> exclusive method
print(df2.iloc[0:5,0:3])
# Extracting the first three rows and first three columns.

   Sepal.Length  Sepal.Width  Petal.Length
0           5.1          3.5           1.4
1           4.9          3.0           1.4
2           4.7          3.2           1.3
3           4.6          3.1           1.5
4           5.0          3.6           1.4

In [33]:
df2 = pd.read_csv('iris.csv')
# loc method == in this for the columns , we defined the attribute names of the columns.
# It is inclusive in nature.
print(df2.loc[5:10 , ("Sepal.Length", "Petal.Length")])

    Sepal.Length  Petal.Length
5            5.4           1.7
6            4.6           1.4
7            5.0           1.5
8            4.4           1.4
9            4.9           1.5
10           5.4           1.5

In [36]:
df2 = pd.read_csv('iris.csv')
# Dropping the column.
print(df2.drop('Sepal.Length',axis=1))
# Dropping the rows.
print(df2.drop([1,4,5,8,9],axis=0))

     Sepal.Width  Petal.Length  Petal.Width    Species
0            3.5           1.4          0.2     setosa
1            3.0           1.4          0.2     setosa
2            3.2           1.3          0.2     setosa
3            3.1           1.5          0.2     setosa
4            3.6           1.4          0.2     setosa
..           ...           ...          ...        ...
145          3.0           5.2          2.3  virginica
146          2.5           5.0          1.9  virginica
147          3.0           5.2          2.0  virginica
148          3.4           5.4          2.3  virginica
149          3.0           5.1          1.8  virginica

[150 rows x 4 columns]
     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[145 rows x 5 columns]

PANDAS FUNCTIONS

In [38]:
pf1 = pd.read_csv('iris.csv')
print(pf1.mean())
print(pf1.median())
print(pf1.min())
print(pf1.max())

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64
Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64
Sepal.Length       4.3
Sepal.Width        2.0
Petal.Length       1.0
Petal.Width        0.1
Species         setosa
dtype: object
Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

C:\Users\user\AppData\Local\Temp/ipykernel_1396/1306227491.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(pf1.mean())
C:\Users\user\AppData\Local\Temp/ipykernel_1396/1306227491.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(pf1.median())

In [43]:
pf1 = pd.read_csv('iris.csv')

def double(s):
    return s * 2
# We are dividing every values in Sepal Length and Petal Length Column.
pf1[['Sepal.Length' , 'Petal.Length']].apply(double)

     Sepal.Length  Petal.Length
0            10.2           2.8
1             9.8           2.8
2             9.4           2.6
3             9.2           3.0
4            10.0           2.8
..            ...           ...
145          13.4          10.4
146          12.6          10.0
147          13.0          10.4
148          12.4          10.8
149          11.8          10.2

[150 rows x 2 columns]

In [48]:
# More Functions
pf1['Species'].value_counts()
# If you want frequency of categorical column.

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [45]:
pf1.sort_values(by="Sepal.Length")
# Values are arranged in the descending order cause of the above code.

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]